.footer__social-container-title {
  font-size: 36px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  margin: 0;
}


@media screen and (max-width: 920px) {
  .footer__social-container-title {
    font-size: 26px;
  }
}

@media screen and (max-width: 360px) {
  .footer__social-container-title {
    font-size: 20px;
  }
}