.header__auth {
display: grid;
grid-template-columns: minmax(115px, 807px) minmax(55px, 90px) minmax(43px, 126px) minmax(147px, 157px);
grid-template-rows: 1fr;
gap: 0px 0px;
grid-template-areas:
  ". . . .";
background-color: #333333;
align-items: center;
margin: 0 20px 0 20px;
}



