.card-overflow__container-info {
  width: 100%;
  box-sizing: border-box;
  padding: 18px 10px 18px 10px;
  background-color: #ffffff;
  border-top: solid 1px #eeeeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  text-align: center;
}


@media screen and (max-width: 680px) {
  .card-overflow__container-info {
    padding: 10px 18px 10px 18px; 
  }
}