.card-overflow__subtitle {
  font-size: 15px;
  color: rgb(142, 140, 140);
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

@media screen and (max-width: 680px) {
  .card-overflow__subtitle {
    font-size: 10px;
  }
}