.category__list {
        display: grid;
        grid-template-columns: minmax(64px,118px) minmax(102px,160px) minmax(94px,152px) minmax(112px,169px) minmax(101px,120px);
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          ". . . . .";
        list-style: none;
        padding: 0;
        margin: 0;
}