.product__select-container {
  width: 100%;
  display: grid;
  grid-template-columns:minmax(100px,200px) minmax(100px,200px) 70px;
  grid-template-rows: 14px 50px;
  gap: 0px 0px;
  grid-template-areas:
    "a c e"
    "b d t";
    align-items: flex-end;
}


@media screen and (max-width: 650px) {
  .product__select-container {
    grid-template-columns:minmax(100px,200px);
    grid-template-rows: 30px 50px 30px 50px 30px 50px;
    gap: 0px 0px;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "t" 
      ;
} 
}