.card-overflow__img {
  width: 82px;
  height: 102px;
  box-sizing: border-box;
}

.card-overflow__img:hover {
  border: solid 1px #727272;
}

.card-overflow__img:last-child {
  margin-top: 15px;
}


@media screen and (max-width: 680px) {
  .card-overflow__img {
    width: 51px;
    height: 61px;
  }

  .card-overflow__img:last-child {
    margin-top: 10px;
  }
}