.footer__social-container-subtitle {
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    margin: 0;
}

  