.lookbook__box {
  padding-top: 62px;
  padding-left: 16px;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .lookbook__box {
    padding-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  .lookbook__box {
  overflow: hidden;
    overflow: scroll;
    height: 400px;
  }
}