.stores-info__title {
    font-size: 18px;
    font-family: 'Roboto';
    font-style: normal;
    color: rgb(87, 81, 83);
    text-transform: uppercase;
    margin: 0;
    margin: 43px 0 0 43px;
    margin-bottom: 30px;
}


  