.footer__info {
    display: grid;
    grid-template-columns: minmax(118px,237px) minmax(129px,237px) minmax(136px,237px) minmax(147px,237px) minmax(169px,231px);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . . .";
    margin-top: 62px;
    margin-bottom: 92px;
}