.header__buy {
  padding-right: 22px;
  width: 157px;
  background-color: #00c8c8;
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
  text-align: end;
  box-sizing: border-box;
  padding-left: 22px;
}

.header__buy::before {
  content: " ";
  background-image: url(../../../images/shopping-cart.png);
  display: block;
  width: 20px;
  height: 17px;
  position: absolute;
  left: 23px;
}


@media screen and (max-width: 450px) {
  .header__buy {
    display: none;
  }
}