.lookbook__button {
  width: 184px;
  height: 63px;
  margin-top: 30px;
  cursor: pointer;
  outline: none;
}

@media screen and (max-width: 550px) {
  .lookbook__button {
    width: 140px;
    height: 43px;
  }
}