.brand__img {
    width: 570px;
    height: 400px;
    background-repeat: no-repeat ;
}

.brand__img:nth-child(2) {
    margin-top: 62px;
}


.brand__img:nth-child(3) {
    margin-top: 62px;
}


.brand__img:last-child {
    height: 100px;
    margin-top: 60px;
}