.product__rating-barrier {
  width: 2px;
  height: 15px;
  background: linear-gradient(to right, #dddddd , #989898);;
}

@media screen and (max-width: 650px) {
  .product__rating-barrier {
   display: none;
  }
} 