.home-background__button {
  background-color: #f8f8f8;
  width: 342px;
  height: 59px;
  margin-right: 323px;
  margin-bottom: 122px;
}


.home-background__button:hover {
  -webkit-box-shadow: 0px 0px 17px 6px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 17px 6px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 17px 6px rgba(34, 60, 80, 0.2);
}


@media screen and (max-width: 920px) {
  .home-background__button {
    margin-right: 0;
  }
}