.lookbook__subtitle {
  font-size: 48px;
  text-transform: uppercase;
  color: rgb(87, 81, 83);
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  margin: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 500px) {
  .lookbook__subtitle {
    font-size: 28px;
  }
}