.product__input-number {
  width: 70px;
  height: 35px;
  box-sizing: border-box;
  border: solid 1px #e7e7e7;
  grid-area: t;
  padding-left: 13px;
  font-size: 13px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #989898;
}

