@import url(./__subtitle_mod/main-background__subtitle_mod.css);

.main-background__subtitle {
  font-size: 30px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .main-background__subtitle {
    font-size: 20px;
  }
}