.header__select {
  background: none;
  border: none;
  color: rgb(153, 153, 153);
  outline: none;
  position: relative;
  cursor: pointer;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
}


