.card-overflow__container-icons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 17px;
}

@media screen and (max-width: 680px) {
  .card-overflow__container-icons {
    margin-top: 10px;
  }
}