.category__card {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    transform: scale(1,1);
}

.category__card:hover {
    transform: scale(1.02,1.02);
    transition: transform 0.2s linear;
}

.category__card:hover .card-overflow {
    display: flex;
    transition: display 0.2s linear;
}

.category__card:first-child {
    grid-area: a;
    background-image: url(../../../../images/photo-a.png);
}

.category__card:nth-child(2) {
    background-image: url(../../../../images/photo-b.png);
    grid-area: b;
}
.category__card:nth-child(3) {
    background-image: url(../../../../images/photo-d.png);
    grid-area: d;
}
.category__card:nth-child(4) {
    background-image: url(../../../../images/photo-c.png);
    grid-area: c;
}

.category__card:nth-child(5) {
    background-image: url(../../../../images/photo-g.png);
    grid-area: g;
}

.category__card:last-child {
    background-image: url(../../../../images/photo-h.png);
    grid-area: h;
}

