.footer__list-title {
    margin: 0;
    font-size: 13px;
    color: rgb(87, 81, 83);
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    margin-bottom: 14px;
}

  