@import url(./__title/main-background__title.css);
@import url(./__subtitle/main-background__subtitle.css);


.main-background {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../images/background-local-stores.png);
    min-height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}