.card-overflow__img-info {
  background-image: url(../../../images/icon-info.png);
  width: 68px;
  height: 68px;
  margin-top: 30px;
  position: relative;
}



@media screen and (max-width: 680px) {
  .card-overflow__img-info {
    width: 68px;
    height: 68px;
    margin-top: 15px;
  }
}

.card-overflow__img-info:hover .card-overflow__img-info-text {
  display: block;
}


.card-overflow__img-info-text {
  position: absolute;
  top: -18px;
  left: -38px;
  margin: 0;
  width: 150px;
  color: #999;
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  padding-bottom: 5px;
  display: none;
  /* border: solid 1px #7b7777; */
  text-align: center;
  background-color: #333333;
}