.footer__footer {
  display: grid;
  grid-template-columns: minmax(163px, 776px) minmax(195px, 232px) 162px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . .";
  width: 100%;
  height: auto;
  background-color: #333333;
  justify-content: center;
}

@media screen and (max-width: 530px) {
  .footer__footer {
    grid-template-columns: minmax(163px, 776px);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "."
      "."
      "."
    ;
    align-items: center;
    text-align: center;

  }
}