@import url(./__map/stores-info__map.css);
@import url(./__container/stores-info__container.css);
@import url(./__title/stores-info__title.css);
@import url(./__subtitle/stores-info__subtitle.css);
@import url(./__text/stores-info__text.css);
@import url(./__list/stores-info__list.css);
@import url(./__item/stores-info__item.css);
@import url(./__link/stores-info__link.css);

.stores-info {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(500px, 1fr) minmax(500px, 663px);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". .";
  background-color: #f8f8f8;
  margin-bottom: 125px;
}


@media screen and (max-width: 1160px) {
  .stores-info {
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "."
    ;
  }
}

@media screen and (max-width: 600px) {
  .stores-info {
    grid-template-rows: 300px 1fr;
  }
}